/RUNNING_PID
build/
logs/
project/*-shim.sbt
project/_skinny_assembyl.sbt
project/Build_scala_20161214
project/project/
project/target/
standalone-build/
target/
task/src/main/resources
task/target/
.idea/
activator
activator.bat
activator-launch-1.3.5.jar
LICENSE
db/*
tmp
dist
.cache
.sbtconfig
.gitignore~
build_sbt.20161124
!.gitkeep
