/RUNNING_PID
build/
logs/
project/*-shim.sbt
project/project/
project/target/
standalone-build/
target/
task/src/main/resources
task/target/
.idea/
activator
activator.bat
activator-launch-1.3.5.jar
LICENSE
db/*
tmp
dist
.cache
.sbtconfig
!.gitkeep
